.Split {
  background-color: #F3F7F0;
  color: rgb(36, 32, 32);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.Split p {
  margin: 2rem 0;
  font-size: 1.5rem;
}